body {      
    margin: 10px;
    padding: 50px;
    border: 10px solid white;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;

}



h1 {
    text-align: center;
    color: blue;
    font-style: oblique;
    
}