body {      
    margin: 10px;
    padding: 50px;
    border: 10px solid white;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;

  
}



h1 {
    text-align: center;
    color: blue;
    font-style: oblique;
    
}



button {
    padding-top: 10px;
    padding-bottom: 10px;
   


}

.Acesso {
    margin-right: 20px;
    padding-right: 50px;
    padding-left: 712px;
    margin-top: 200px;
    


}



